[Unit]
Description=NNS ADC2ALSAMixer
After=basic.target
#After=meadiacenter.service

[Service]
# If User and Group are not specified, then by default systemd ExecStart runs as root
User=root
Group=root
Type=simple
ExecStart=/home/pi/NNS/ADC2ALSAMixer/nns-adc2alsamixer-daemon -i2caddr 0x4D -adcmin 0 -adcmax 4095 -alsaname "PCM" -alsamin -100 -alsamax 0
TimeoutStartSec=0
# write to journal or within script to separate log file
# StandardOutput=/home/pi/NNS/FreeplayADC2Backlight/nns-freeplay-adc-backlight-daemon-out.log
# StandardError=/home/pi/NNS/FreeplayADC2Backlight/nns-freeplay-adc-backlight-daemon-err.log
Restart=always

[Install]
WantedBy=multi-user.target
